<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	
	<form th:action="@{/formu}" th:object="${usuario}" method="post">
		<div>
			<label for="username">Username</label>
		</div>
		<div>
			<input type="text" id="username" th:field="*{username}"></input>
		</div>
		<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
		<div>
			<label for="password">Password</label>
		</div>
		<div>
			<input type="password" th:field="*{password}" id="password"></input>
		</div>
		<div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>
		<div>
			<label for="email">Correo Electronico</label>
		</div>
		<div>
			<input type="text" id="email" th:field="*{email}"></input>
		</div>
		<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
		<div>
			<input type="submit" value="Enviar"></input>
		</div>
	</form>
	
</body>
</html>